


.jspsych-html-slider-response-wrapper {
    margin-left: 0px;
    margin-right: 0px;
}
/*  What is super confusing with the slider height is that it is based off the width of the cell
it is in. This is because it is a horizontal aslider that has been rotated. */
:root {
  --sliderHeight: 50%;
  --thumbHeight: 25px;
  --thumbWidth: 40px;
  --sliderShiftFromRightOfCell: 20vw;
  --sliderCellHeight: 400px;
}

#sliderTable {
  /*transform: rotate(-270deg); /* rotate the element */
  /*position:fixed;*/
  position: relative;
  margin-left: 0px;
  /* half of width */
  margin-top: 0px;
  margin-bottom: 0px;
  /* half of height */
  top: 0%;
  left: 0%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;  
}

#topCell {
  text-align: center;
  padding-left: 2%;
  height: 10px;
  vertical-align: top;
}
#bottomCell {
  text-align: center;
  padding-left: 1%;
  height: 10px;
  vertical-align: bottom;
}

#ScoreCell {
  text-align: center;
  padding-left: 5%;
  vertical-align: bottom;
  width: 100%
}


li span {
  position: relative;
  left: -10px;
}

.VAScell {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  
}
#VAStableElement {
  height: var(--sliderCellHeight)
}


.track {
  /*width: calc(100% - 30px + 36px);*/
  width: var(--sliderHeight);

  /* border: 3px solid #04AA6D; */

  /* transform-origin: left;*/
  /* The following, along with the relative div cell above
   FIXES the slider to the right hand side of the cell */
  right: var(--sliderShiftFromRightOfCell);
  position: absolute;
  transform: translate(50%, 0%) rotate(270deg);
  /* transform: rotate(270deg); */
}

.ticks {
  display: flex;
  justify-content: space-between;
  padding: 0 0px;
}

.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1px;
  background: black;
  height: 15px;
  line-height: 50px;
}

.tickWide {
  width: 1px;
  background: black;
  height: 35px;
  line-height: 50px;
  margin: -10px 0px -10px 0px;
}

.tickLabel {
  content: "";
  position: absolute;
  margin: 0px 8px 10px -24px;
  top: 40px;
  transform: rotate(-270deg);
  /* rotate the element */
  font-size: 3.5vmin
}

.groove {
  height: 2px;
  background: #b3b3b3;
  position: absolute;
  width: var(--sliderHeight); /*calc(100% - 16px);*/
  left: 0px;
  top: 50%;
  width: 100%;
}

#jspsych-html-slider-response-response {
  /* border: 3px solid #888888; */
  appearance: none;
  background: none;
  margin: auto;
  /*width: calc(100% - 30px + 36px);*/
  width: calc(var(--sliderHeight) + var(--thumbHeight));
  top: calc(var(--thumbHeight) * (-0.25));
  
  right: var(--sliderShiftFromRightOfCell);
  position: fixed;
  padding: 0;
  /* transform: translateY(50%); */
  position: absolute;
  transform: translate(50%, 0%) rotate(270deg);
}

#jspsych-html-slider-response-response::-webkit-slider-thumb {
  appearance: none;
  width: var(--thumbHeight);
  height: var(--thumbWidth);
  
  border-radius: 50%;
  background: yellowgreen;
}
/*
tbody {
  display: block;
  overflow-y: auto;
  font-size: xx-large;
  line-height: 1.6;
  text-align: center;
}
*/
/* This is the element that determines the size of the area to display
content in. All div and table elements need to be set to 100% height to fill
this element */
.jspsych-content {
  max-width: 85%;
  /* this is mainly an IE 10-11 fix */
  text-align: center;
  margin: auto;
  /* this is for overflowing content */
  font-size: 4vmin;
  line-height: 1.6;
  height: 100%
}
.jspsych-content-wrapper {
    height: 100%;
}

tbody {
    height: 100%;
    display: contents
}
.jspsych-display-element {
    height: 80%;
}

.instructionsCell {
    text-align: left;
}


#header-btn-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

#header-btn-group > button {
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-top: 15px;
  border: 2px solid #ccc;
  padding: 0.8vw 1.5vw;
  font-size: 1.2rem;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: 15px;
}

#language-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 15px;
}

#LanguageSelectPulldown {
  background-color: #f8f9fa;
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 0.8vw 1.5vw;
  font-size: 1.2rem;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.jspsych-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin: 4px;
    background-color: #ffffff;
    
    border-radius: 6px;
    border: none;
    transition: background 0.3s ease, transform 0.1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
