/* body-stage
From Experiment Factory
*/

/* 
The following are variables that are used below in the CSS.
*/
:root {
  --FixationSize:  5vw;
  --CueSize:  5vw;
  --ANTArrowSize:  5vw;
  --PromptSize:  4vw;
}

table {
  width: 100%;
}
/* set a style for the DMS table */
#vDMSTable {
  width: 50vw;
  height: 50vh;
}

html { background-color: white; }
body {
  background-color: rgb(200,200,200);
  border-radius: 10px;
    position: fixed;
  left: 0vw;
  top: 1vh;
  height: 96vh;
  width: 98vw;
  box-shadow: 4px 4px 6px #888888/*#999*/;
  border-radius: 10px;
  z-index: 0;
  
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  overflow: auto;
}


/* 
Set the fixation size so it changes as the display size changes.
Make sure to set the class everywhere a fixation cross is used.
This allows for universal change of teh fixation cross, for instance, if it needs to be made bigger.
*/

.touchscreen {
    /* size of the upper panel */
    height: 85%;
}

p.Fixation {
  text-align:  center;
  font-size: var(--FixationSize);
  color:  black;
}
p.AntCue {
  text-align:  center;
  font-size: var(--CueSize);
  color:  black;
}
p.ANTArrowSize {
  text-align:  center;
  font-size: var(--ANTArrowSize);
  color:  black;
}
p.PromptText {
  font-size: var(--PromptSize);
}
p.Instructions {
  text-align:  center;
  font-size:  4vmin;
  line-height:  1.6;
}

.button {
    font-size:4vmin;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1vmin 2vmin 1vmin 2vmin;
    color: white;
    background-color:cornflowerblue;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-rad
}
/* css for numpad */
.square {
    float:left;
    position: relative;
    width: 30%;
    height: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#fff;
    overflow:hidden;
    color: #000;
    border-radius:10px;
  border: 2px solid black;
}

.submit_button, .clear_button {
    float:left;
    position: relative;
    width: 47%;
    height: 25%; /* = width for a 1:1 aspect ratio */
    margin:1.5%;
    background-color:#fff;
    overflow:hidden;
    color: #000;
    border-radius:10px;
    font-size: 2vh;
  border: 2px solid black;
}

.square:hover, .submit_button:hover, .clear_button:hover {
  color: blue;
}

.square:active, .submit_button:active, .clear_button:active {
  background-color: #505050;
}

.numbers{
    font-weight:900;
    text-align: center;
    font-size: 4vh;
    position: relative;
    top: 50%; 
}

.numbox {
  width:30vw;
  height: 40vw;
  position:absolute;
  top:40%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}

.REDCross {color:red}
/* Change the size of the font in the buttons */

.jspsych-btn {
  font-size: large;
}

/* https://www.w3schools.com/howto/howto_css_image_text.asp */
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: blue;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 0%;
  transform:rotate(-25deg);
}
