/* body-stage
From Experiment Factory
*/

/* 
The following are variables that are used below in the CSS.
*/
:root {
  --FixationSize:  5vw;
  --CueSize:  5vw;
  --ANTArrowSize:  5vw;
  --PromptSize:  4vw;
}

table {
  width: 100%;
}

html { background-color: white; }
body {
  background-color: rgb(200,200,200);
  border-radius: 15px;
    position: fixed;
  left: 5vw;
  top: 2vh;
  height: 94vh;
  width: 90vw;
  box-shadow: 4px 4px 6px #888888/*#999*/;
  border-radius: 15px;
  z-index: 0;
  padding: 30px 30px 30px 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  overflow: auto;
}

/* Buttons 
From Experiment Factory
*/
.jspsych-btn, #jspsych-instructions-next, #jspsych-instructions-back {
  font-size:4vmin;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 1vmin 2vmin 1vmin 2vmin;
  color: white;
  background-color:cornflowerblue;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-rad
}
/* 
Set the fixation size so it changes as the display size changes.
Make sure to set the class everywhere a fixation cross is used.
This allows for universal change of teh fixation cross, for instance, if it needs to be made bigger.
*/

.touchscreen {
    /* size of the upper panel */
    height: 85%;
}

p.Fixation {
  text-align:  center;
  font-size: var(--FixationSize);
  color:  black;
}
p.AntCue {
  text-align:  center;
  font-size: var(--CueSize);
  color:  black;
}
p.ANTArrowSize {
  text-align:  center;
  font-size: var(--ANTArrowSize);
  color:  black;
}
p.PromptText {
  font-size: var(--PromptSize);
}
p.Instructions {
  text-align:  center;
  font-size:  4vmin;
}