body {
    left: 0vw;
    top: 0vh;
    height: 90vh;
    width: 98vw;
}


.sd-element--with-frame { padding-left: 0px; padding-right: 0px; }
.sd-element { padding-left: 0px; }
.sd-question { padding-left: 0px; }
.sd-row__question { padding-left: 0px; }
.sd-element--complex { padding-left: 0px; }
.sd-question--complex { padding-left: 0px; }
.sd-question--table { padding-left: 0px; }
.sd-question--title-top { padding-left: 0px; }

/* The following makes the header row of a matrix "sticky" */
thead {
    display: block;
    margin-left: 15vw;
  }

tbody {
    display: block;
    max-height: 500px;
    overflow-y: auto;
  }

/* This makes the radio buttons big and square-ish */
  .sd-item__decorator {
    width: calc(7*(var(--sjs-base-unit, var(--base-unit, 8px))));
    height: calc(7*(var(--sjs-base-unit, var(--base-unit, 8px))));
    border-radius: 5%;
  }

