.surveyFormInstructions {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  display: block;
  

}
.surveyFormSelect {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 80%;
}

.textInput {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 80%;
}


.surveyFormLabel, .tableSubmitButton, .surveyFormResponseLabel, .surveyFormSubTitle{
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-flex;
  text-align: center;
  display: inline-flex; align-items : center; justify-content: center
}
.surveyFormSubTitle{
  color: red ;
}
.surveyFormDiv {
    text-align: center;
    
}

.tableSubmitButton {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-flex;
  text-align: center;
    display: inline-flex; align-items : center; justify-content: center
}


/* This makes the radio buttons big and square-ish */
.sd-item__decorator {
  width: calc(5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  height: calc(5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  border-radius: 5%;
}

.radiogroup_alignment {
 text-align: left;
 padding-left: 2em;
 
}
.radioGroupWrapper {
  display:flex;
}
.surveyFormTitle {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  display: flex; align-items : center; justify-content: center
}



input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
  opacity: 1;
 }
 

/* Mark input boxes that gets an error on validation: */
.invalid {
  background-color: #ffdddd;
}