:root {
  --font: "Open Sans", "Arial", sans-serif;
  --fontSize: 1.5rem
}
.surveyFormInstructions {
  font-family: var(--font);
  font-size: var(--fontSize);
  padding-top: 2rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  display: block;
  

}
.surveyFormSelect {
  font-family: var(--font);
  font-size: var(--fontSize);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 80%;
}

.textInput {
  font-family: var(--font);
  font-size: var(--fontSize);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 80%;
}

h1 {
  font-family: var(--font);
  font-size: 2.5rem;
  text-align: center
}
.surveyFormLabel, .tableSubmitButton, .surveyFormResponseLabel, .surveyFormSubTitle{
  font-family: var(--font);
  font-size: var(--fontSize);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-flex;
  text-align: center;
  display: inline-flex; align-items : center; justify-content: center
}
.surveyFormSubTitle{
  color: red ;
}
.surveyFormDiv {
    text-align: center;
    
}

.tableSubmitButton {
  font-family: var(--font);
  font-size: var(--fontSize);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-flex;
  text-align: center;
    display: inline-flex; align-items : center; justify-content: center
}


/* This makes the radio buttons big and square-ish */
.sd-item__decorator {
  width: calc(5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  height: calc(5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  border-radius: 5%;
}

.radiogroup_alignment {
 text-align: left;
 padding-left: 2em;
 
}
.radioGroupWrapper {
  display:flex;
}
.surveyFormTitle {
  font-family: var(--font);
  font-size: var(--fontSize);
  display: flex; align-items : center; justify-content: center
}



input {
  padding: 10px;
  width: 50%;
  text-align:center;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}
/* Container for the progress bar of dots */
.progress-bar {
  position: relative;
  display:flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0rem 0rem 10rem;
  counter-reset: step;
}

.progress-bar::before, .progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: 100%;
  background-color: #dcdcdc;
  
}
.progress {
  background-color:rgb(0, 81, 255);
  width: 0%;
  transition: 0.3s ease-in-out;
}
/* Make circles that indicate the steps of the form: */
.progress-step {
  height: 35px;
  width: 35px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontSize);
  font-family: var(--font);
  /*opacity: 0.5;*/
  z-index: 2;
}

/*span[data-title] {
font-size: 4rem;
}*/

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step.active {
  opacity: 1;
  background-color: rgb(0, 81, 255);
  color: white;
}

/* Mark the steps that are finished and valid: */
.progress-step.finish {
  opacity: 1;
 }
 
.progress-step::after {
  content: attr(data-title);
  position: absolute;
  
  font-size: var(--fontSize);
  height: 45px;
  color: #666666;
 }

.progress-step-top::after {
  bottom: calc(100% + .5rem);
}
.progress-step-bot::after {
  top: calc(100% + .5rem);
}

/* Mark input boxes that gets an error on validation: */
.invalid {
  background-color: #ffdddd;
}

.numberInput {
  font-family: var(--font);
  font-size: var(--fontSize);
}