.surveyFormInstructions {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: inline-flex;
  text-align: center;

}
.surveyFormSelect {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 50%;
}
.surveyFormLabel, .tableSubmitButton {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-flex;
  text-align: center;
    display: inline-flex; align-items : center; justify-content: center
}
.surveyFormDiv {
    text-align: center;
}

.tableSubmitButton {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-flex;
  text-align: center;
    display: inline-flex; align-items : center; justify-content: center
}


/* This makes the radio buttons big and square-ish */
.sd-item__decorator {
  width: calc(5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  height: calc(5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  border-radius: 5%;
}

.radiogroup_alignment {
 text-align: left;
 padding-left: 10em;
}