table {
  width: 70vw;
  height: 95vh;
    
    }
.center {
  margin-left: auto;
  margin-right: auto;
  }
.TopRow {
  height:  30%, 
    text-align: center;
  }
.MidRow {
  text-align: center;
  height:  40%; 
  vertical-align: middle;
  } 
.BotRow {
  text-align: top;
  height:  30%; 
  } 
  
.jspsych-btn {
  padding: 3px 6px;
  font-size:4vmin;
}
