.DS_Store
Notes.md
assets/Images/MatrixReasoning/ICAR/
assets/Images/PatternComparison/
NonpublicBackgroundMaterial/
Notes.txt
InstructionsAndStimuli/ConsentForms/
Batteries/FaCEBatteries.js
RemovedFiles/
LocalTrash/
WIP/
NeuroClinicInstallInstructions.md
BackgroundMaterial/
TestLocal.html
functions/poldrack_utils.js
html/Emilie/
html/LOCAL/
